{% extends 'base.html' %} <br />
{% load crispy_forms_tags %} <br />

{% block title %}Edit Profile - Church CMS{% endblock %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card shadow">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0"><i class="fas fa-user-edit"></i> Edit Profile</h4>
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}

          <div class="row">
            <div class="col-md-6">
              <h5 class="text-primary mb-3">
                <i class="fas fa-user"></i> Basic Information
              </h5>
              {{ form.first_name|as_crispy_field }} <br />
              {{ form.last_name|as_crispy_field }} <br />
              {{ form.email|as_crispy_field }} <br />
              {{ form.phone|as_crispy_field }}
            </div>

            <div class="col-md-6">
              <h5 class="text-primary mb-3">
                <i class="fas fa-info-circle"></i> Additional Info
              </h5>
              {{ form.date_of_birth|as_crispy_field }} <br />
              {{ form.occupation|as_crispy_field }} <br />
              {{ form.marital_status|as_crispy_field }} <br/>
              {{ form.baptism_date|as_crispy_field }}
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-md-6">
              <h5 class="text-primary mb-3">
                <i class="fas fa-home"></i> Contact Information
              </h5>
              {{ form.address|as_crispy_field }}
            </div>

            <div class="col-md-6">
              <h5 class="text-primary mb-3">
                <i class="fas fa-image"></i> Profile Picture
              </h5>
              {% if user.profile_picture %}
              <div class="mb-3 text-center">
                <img
                  src="{{ user.profile_picture.url }}"
                  alt="Current Profile Picture"
                  class="img-thumbnail"
                  style="max-width: 150px"
                />
                <p class="small text-muted mt-2">Current profile picture</p>
              </div>
              {% endif %} {{ form.profile_picture|as_crispy_field }}
            </div>

            <div class="col-md-6">
              <h5 class="text-primary mb-3">
                  <i class="fas fa-phone-alt"></i> Emergency Contact
              </h5>
              {{ form.emergency_contact|as_crispy_field }} <br />
              {{ form.emergency_contact_phone|as_crispy_field }}
            </div>

          </div>

          <div class="d-grid gap-2 mt-4">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-save"></i> Save Changes
            </button>
            <a
              href="{% url 'accounts:profile' %}"
              class="btn btn-outline-secondary"
            >
              <i class="fas fa-times"></i> Cancel
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
